

body {
  background-color: #f7f9ff;
}


/* shared class */

/* header section style start */
.navber{
    margin: 0 auto;
    max-width: 90rem;
    
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    padding: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-right: 20px;
    padding: 20px;
    color: #252432;
    
}
.disabled{
    color:#8987A1;
}
/* headr section end */
.header{
    /* position: relative; */
    margin: 0 auto;
    max-width: 90rem;
    /* background-color: bisque; */
    display: flex;
    margin-top: 50px;
}
.left-head{
    
   /* margin-top: 100px; */
 
}
.header-heading{
    font-size: 65px;
    font-weight: bold;
}
spen{
    color:#E95A08;
}
/* main section start */
main{
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 129px;
}
.first{
    text-align: center;
    margin-bottom: 50px;
}
.flower-section-heading{
    font-size: 60px;
    font-weight: bold;
}
.flower-card{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}
.flower-item{
    border: 2px solid red;
}
.item-center{
    text-align: center;
}
.flower-btn{
    background-color: #E95A08;
    width: 100%;
    color: #f7f9ff;
    padding: 20px;
    border: none;
}
.flower-item img{
    width: 100%;
}
/* flower section part */
.flower-section{
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
    gap: 50px;
}
.flower-section div{
    width: 50%;
}
.flower-img{
    /* width:100% ; */
}
.flower-img img{
    width: 100%;
    height: auto;
}
.flower-section-description{
 width: 100%;
}
.flower-heading{
    font-size: 50px;
    font-weight: bold;
}
ul li{
    font-size: 30px;
    color: black;
    opacity: 0.5;
    padding: 10px;
}

/* responsive layout */
@media screen and (max-width: 768px) {
    .nav-item{
        display: none;
    }
    .nav-item.cart-item{
        display: inline-block;
    }
   .header{
     flex-direction: column-reverse;
   }
   .left-head, .right-head {
    width: 100%;
  }
  .left-head{
    margin: 0 20px;
  }
  .flower-card{
   grid-template-columns: repeat(2, 1fr); 
}
.flower-section{
    flex-direction: column;
    gap: 10px;

}
.flower-section div{
    width: 100%;
}
ul li{
    font-size: 15px;
    color: black;
    padding: 5px;
}
.flower-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
   
}