

body {
  background-color: #f7f9ff;
}


/* shared class */

/* header section style start */
.navber{
    margin: 0 auto;
    max-width: 90rem;
    
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    padding: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-right: 20px;
    padding: 20px;
    color: #252432;
    
}
.disabled{
    color:#8987A1;
}
/* headr section end */
.header{
    
    margin: 0 auto;
    max-width: 90rem;  
    display: flex;
    margin-top: 50px;
}

.header-heading{
    font-size: 65px;
    font-weight: bold;
}
spen{
    color:#E95A08;
}
/* main section start */
main{
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 129px;
}

.first{
    text-align: center;
    margin-bottom: 50px;
}
.flower-section-heading{
    font-size: 60px;
    font-weight: bold;
}
.flower-card{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}
.flower-item{
    border: 2px solid red;
}
.item-center{
    text-align: center;
}
.flower-btn{
    background-color: #E95A08;
    width: 100%;
    color: #f7f9ff;
    padding: 20px;
    border: none;
    font-size: 15px;
}
.flower-item img{
    width: 100%;
}
.flower-heading{
    font-size: 25px;
   font-weight: bold;
}
.flower-usd{
    font-size: 25px;
}
/* flower section part */
.flower-section{
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
    gap: 50px;
}
.flower-section div{
    width: 50%;
}

.flower-img img{
    width: 100%;
    height: auto;
}
.flower-section-description{
 width: 100%;
}
.flower-heading-plant{
    font-size: 50px;
    font-weight: bold;
}
ul li{
    font-size: 30px;
    color: black;
    opacity: 0.5;
    padding: 10px;
}
/* deal section  */

.deal-heading{
    font-size: 60px;
    font-weight: bold;
}
.deal-section-part{
    text-align: center;
}
.deal-section{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    width: 100%;
}
.dobble-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.sigle-img{
    width: 70%;
}
.right-image {
  width: 100%;
  height: 100%;
}
.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px; /* Adjust as needed */
  border-radius: 8px;
  margin-top: 20px;
}
.img1{
    background-image: url('../assets/deal-bloom.png');
}
.img2{
    background-image: url('../assets/deal-ana.png');
}

.img3{
  background-image: url('../assets/deal-zabo.png');
   width: 100%;
  height: 430px;
  
}
.bg-heading{
    font-size:25px;
    color:black;
    text-align: center;
}
/* footer section */
.footer-section{
    background-image: url('../assets/news-letter-bg.png');
    height: 33rem;
    margin-top: 120px;
    
}


/* responsive layout */
@media screen and (max-width: 768px) {
    .nav-item{
        display: none;
    }
    .nav-item.cart-item{
        display: inline-block;
    }
   .header{
     flex-direction: column-reverse;
   }
   .left-head, .right-head {
    width: 100%;
  }
  .left-head{
    margin: 0 20px;
  }
  .flower-card{
   grid-template-columns: repeat(2, 1fr); 
}
.flower-section{
    flex-direction: column;
    gap: 10px;

}
.flower-section div{
    width: 100%;
}
ul li{
    font-size: 20px;
    color: black;
    padding: 5px;
}
.flower-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.deal-section{
  flex-direction: column;
  gap: 1rem;
}
  .dobble-img,
  .sigle-img {
    width: 100%;
  }
   .bg-img {
    height: 180px;
  }
   
   
}