

body {
  background-color: #f7f9ff;
}


/* shared class */

/* header section style start */
.navber{
    margin: 0 auto;
    max-width: 90rem;
    
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    padding: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-right: 20px;
    padding: 20px;
    color: #252432;
    
}
.disabled{
    color:#8987A1;
}
/* headr section end */
.header{
    /* position: relative; */
    margin: 0 auto;
    max-width: 90rem;
    background-color: bisque;
    display: flex;
    margin-top: 50px;
}
.left-head{
    
   /* margin-top: 100px; */
 
}
.header-heading{
    font-size: 65px;
    font-weight: bold;
}
spen{
    color:#E95A08;
}

/* responsive layout */
@media screen and(max-width: 768px) {
    
}